<?php
// CONTOH KONFIGURASI DATABASE UNTUK HOSTING hPanel (Hostinger)
// Copy file ini menjadi database.php dan isi dengan data yang sesuai

return [
    // Untuk hPanel, biasanya host adalah 'localhost'
    // Jika database server berbeda, gunakan IP atau hostname yang diberikan
    'host' => 'localhost',
    
    // Username database dari hPanel
    // Format biasanya: username_dbname atau username_database
    // Contoh: u123456789_absensi atau myuser_absensi
    'username' => 'username_database',
    
    // Password database yang dibuat di hPanel
    'password' => 'password_database_anda',
    
    // Nama database yang dibuat di hPanel
    // Format biasanya: username_dbname
    // Contoh: u123456789_absensi atau myuser_absensi
    'database' => 'username_absensi',
    
    'charset' => 'utf8mb4'
];


